.imperio {
    background-color: red;
}

.rebeldes {
    background-color: blue;
}

#darthVader {
    font-size: 150%;
}

#luke {
    font-style: italic;
}

.soldados {
    border: 3px dashed white;
    letter-spacing: 2px;
}

.apoyo {
    text-align: center;
}

.nave {
    text-transform: uppercase;
}

.imgCentrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png);
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    height: 200px;
    width: auto;
}

.titulo {
    color: whitesmoke;
}

* {
    font-family: "Holtwood One SC";
}